.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: red;
}

p {
  font-size: 2rem;
  color: red;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 80%;
}

footer {
  font-size: 25px;
  margin-top: 3%;
  color: #ebeaea;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
